.footer {
    padding-top: 5rem;
    padding-bottom: 6.5rem;
    background: #282828;
}
.footer-block {
    display: flex;
    justify-content: space-between;
}
.footer-block__item {
    width: calc(100% / 4 - 8rem);
}
.footer-block__item .header-top__social{
    gap: 2rem;
}
.footer-block__item-logo {
    display: block;
    margin-bottom: 1.2rem;
}
.footer-block__item-text{
    margin-bottom: 2.8rem;
}
.footer-block__item-text span{
    display: block;
    font-size: 1rem;
    color: #B3B3B3
}
.footer-block__item-name{
    margin-bottom: 3.5rem;
}
.footer-block__item-name a{
    margin-bottom: .5rem;
    font-size: 1.4rem;
    color: #B3B3B3;
    text-decoration: underline;
    transition: all .4s ease-in;
}
.footer-block__item-title {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #32B4D9;
   
}
.footer-block__list li{
    margin-bottom: 1rem;
}
.footer-block__list li a{
    font-size: 1.4rem;
    color: #B3B3B3;
    transition: all .4s ease-in;
}
.footer-block__list li a:hover,
.footer-block__item-name a:hover{
    transition: all .4s ease-in;
    color: #fff;
}
.footer-block__item-phone{
    margin-bottom: 2rem;
}
.footer-block__item-phone a{
    display: block;
    font-weight: 600;
    color: #fff;
}
.footer-block__item-phone a span{
    color: #32B4D9;
}
.footer-block__item-time{
    display: block;
    color: #B3B3B3;
    font-size: 1rem;
    transform: translateY(-5px);
}
.footer-block__item-call {
    margin-bottom: 5rem;
    position: relative;
    padding: 1.2rem 1.5rem 1.2rem 3.7rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: transparent;
    border: none;


    border-radius: 20px;
    text-align: center;
    border: 1.5px solid #32B4D9;
    color: #32B4D9;
    transition: all .4s ease-in;
}
.footer-block__item-call:hover{
    background-color: #fff;
    transition: all .4s ease-in;
}
.footer-block__item-calc--mobile{
    display: none;
}
.footer-block__item-call::before{
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/header/header-phone.svg') no-repeat;
    top: 11px;
    left: 14px;
    transition: all .4s ease-in;
}
