.show{
    display: block;
}
.hide{
    display: none;
}
.show-calculator{
    display: flex;
}
.hide-calculator{
    display: none;
}

@media(max-width: 1200px){
    .footer-block__item{
        width: 20rem;
        margin-bottom: 3rem;
    }
    .footer-block{
        flex-wrap: wrap;
    }
    .stock-block__content{
        width: 25rem;
    }
    .stock-block__item,
    .stock-block__content{
        width: 100%;
    }
    .advantages-block__item:nth-child(2) .advantages-block__left{
        display: block;
    }
    .advantages-block__item:nth-child(2) .advantages-block__left img{
        margin-bottom: 2rem;
    }
    .ready-block--product{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .work__ready .ready-block__item{
        width: 250px;
    }
    .ready-block__item {
        width: calc(100% / 3 - 4rem);
    }
    .ready-block__item-img img{
        width: 100%;
    }
    .calculator-content__box{
        width: 100%;
    }
    .calculator-content__number{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }
    .ready-home .ready-block{
        min-width: 100%;
        overflow-x: auto;
        padding-bottom: 2rem;
        margin-bottom: 1rem;
        gap: 2rem;
    }
    .ready-home .ready-block__item{
        min-width: 28rem;
    }
    .ready-block__item-img,
    .ready-block__item-img img{
        height: 100%;
    }
}


@media(max-width: 1000px){
    .contact-block{
        flex-direction: column;
    }
    .contact-block__map{
        margin-left: 0;
    }
    .contact-map,
    .tabs{
        width: 100%;
    }
    .tabs__item-reviews{
        transform: translateY(0);
        margin-bottom: 3rem;
        margin-left: 0;
    }
    .tabs-reviews__wrapper{
        padding-top: 4rem;
    }
    
    .stock-block__item-img img{
        min-width: 30rem;
    }
    .production-block{
        flex-direction: column;
    }
    .production-block__content,
    .production-block__img{
        width: 100%;
    }
    .advantages-block__bottom,
    .advantages-block__img-vertical--big,
    .advantages-block__img-vertical{
        display: none;
    }
    .advantages,
    .certificates{
        padding-bottom: 8rem;
    } 
    .order-block{
        flex-wrap: wrap;
    }
    .order-block__item{
        margin-bottom: 3rem;
        width: 100%;
    }
    .order-page{
        padding-bottom: 8rem;
    }
    .work-one__left{
        margin-left: 0;
    }
    .ready__item{
        margin-bottom: 2rem;
        min-width: 100%;
        overflow-x: auto;
    }
    .ready__item-btn{
        min-width: 14rem;
    }
    .ready-block__item {
        width: calc(100% / 2 - 4rem);
    }
    .questions__wrapper{
        width: calc(100% / 2 - 3rem);
    }
    .heading{
        margin-bottom: 6rem;
    }
    .calculator-content{
        flex-direction: column;
        gap: 0;
    }
    .calculator-content__left,
    .calculator-content__right{
        width: 100%;
    }
    .calculator-content__top, .calculator-content__center, .calculator-content__bottom{
        justify-content: center;
    }
    .calculator-tabs__item{
        padding-top: 2rem;
        gap: 1rem;
        flex-wrap: wrap;
        border: none;
        transform: translateY(0);
        background-color: transparent;
        border-radius: none;
    }
    .calculator-tabs__item-btn{
        width: unset;
        border: 1px solid #DCDCDC;
        background: #FFF;
        border-radius: 2rem;
    }
    .calculator-tabs__item-btn.calculator-tabs__item-btn--active{
        background: #32B4D9;
        color: #FFF;
    }
}



@media(max-width: 750px){
    .slick-dots{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
    .slick-dots li button{
        font-size: 0;
        padding: 0;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #32B4D9;
    }
    .slick-dots li.slick-active button{
        background-color: #282828;
    }
    .reviews-home__box {
        margin-bottom: 3rem;
    }
}



@media(max-width: 700px){
    .breadcrumbs{
        padding-top: 0;
        padding-bottom: 1rem;
    }
    .questions-block{
        flex-direction: column;
        gap: 3rem;
    }
    .questions-block__content,
    .questions-block__form{
        width: 100%;
    }
    .footer{
        padding-bottom: 0;
    }
    .reviews-form{
        flex-direction: column;
        gap: 3rem;
    }
    .reviews-form__right,
    .reviews-form__left{
        width: 100%;
    }
    .tabs__item-reviews{
        width: 100%;
    }
    .reviews-block{
        flex-wrap: wrap;
    }
    .reviews-block__left, 
    .reviews-block__right{
        width: 100%;
    }
    .reviews__title{
        padding-top: 4rem;
    }
    .department-block{
        flex-direction: column;
    }
    .department-block__content{
        max-width: 100%;
    }
    .stock-block__item-img img{
        min-width: 24rem;
    }
    .advantages-block__item{
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 0;
    }
    .advantages-block__left,
    .advantages-block__right,
    .advantages-block__img-small,
    .advantages-block__box,
    .advantages-block__img img{
        width: 100%;
    }
    .advantages-block__item:nth-child(2) .advantages-block__right{
        order: 1;
    }
    .advantages-block__item:nth-child(3) .advantages-block__left .advantages-block__img-small{
        transform: translateY(0);
    }
    .advantages{
        padding-bottom: 7rem;
    }
    .delivery-block{
        flex-direction: column;
    }
    .delivery-block__left,
    .delivery-block__right{
        width: 100%;
    }
    .delivery__title{
        margin-bottom: 3rem;
    }
    .delivery{
        padding-bottom: 9rem;
    }
    .work-one{
        flex-direction: column;
    }
    .work-one__inner,
    .work-one__info{
        width: 100%;
    }
    .work-one__inner{
        margin-bottom: 3rem;
    }
    .work-page{
        padding-bottom: 10rem;
    }
    .work-one__item{
        justify-content: space-between;
    }
    .work-one__item-btn{
        // width: 50%;
        text-align: left;
    }
    .calculator-content__top, .calculator-content__center, .calculator-content__bottom{
        margin-bottom: 2rem;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
    }
    .calculator-content__length-meaning input,
    .calculator-content__width,
    .calculator-content__color,
    .calculator-content__range,
    .calculator-content__inner,
    .calculator-content__left-btn{
        width: 100%;
    }
    .reviews-home__item{
        width: 28rem;
    }
    .product-one,
    .peculiarities-one{
        flex-direction: column;
    }
    .product-one__info,
    .product-one__inner,
    .peculiarities-one__info,
    .peculiarities-one__inner{
        width: 100%;
    }
    .product-one__inner,
    .peculiarities-one__inner{
        margin-bottom: 2rem;
        order: -1;
    }
    .product-page,
    .peculiarities-page{
        padding-bottom: 7rem;
    }
    .price{
        padding-bottom: 5rem;
    }
    .tabs-color__item {
        width: calc(100% / 4 - 6rem);
    }
   
}




@media(max-width: 550px){
    
    .tabs__item,
    .tabs__content-time,
    .contact-card__phone{
        margin-bottom: 2rem;
    }
    .contact{
        padding-bottom: 5rem;
    }
    .contact__title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .tabs__content-text,
    .tabs__content-phone,
    .contact-card__name,
    .contact-card__phone{
        font-size: 18px;
    }
    .contact-block{
        margin-bottom: 4rem;
    }
    .contact-card{
        padding: 2rem;
    }
    .contact-card__text{
        text-align: center;
    }
    .questions-block__content-title{
        margin-bottom: 1rem;
        font-size: 22px;
        line-height: 30px;
    }
    .questions{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footer-block__item{
        width: 100%;
        text-align: center;
    }
    .footer-block__item:nth-child(2),
    .footer-block__item:nth-child(3),
    .footer-block__item-call{
        display: none;
    }
    .footer-block{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-block .header-top__social{
        justify-content: center;
    }
    .footer-block__item-logo img{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-block__item-calc--mobile{
        display: block;
    }
    .footer-block__item-calc{
        display: none;
    }
    .footer{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footer-block__item {
        margin-bottom: 0;
    }
    .footer-block__item-name{
        margin-bottom: 2.5rem;
    }
    .footer-block__item-text{
        margin-bottom: 2rem;
    }
    .reviews-form__title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .reviews-form__top{
        margin-bottom: 3rem;
        gap: 1rem;
        flex-direction: column;
    }
    .reviews-form__top-title{
        font-size: 18px;
    }
    .tabs__item-btn--reviews{
        font-size: 1.3rem;
    }
    .reviews-form__btn{
        width: 100%;
    }
    .reviews-form__bottom{
        flex-direction: column;
        gap: 1.5rem;
    }
    .reviews-form__bottom-file{
        display: block;
        width: 20rem;
        margin-left: 40px;
    }
    .tabs-reviews__wrapper{
        padding-bottom: 4rem;
    }
    .reviews-form__right-textarea{
        margin-bottom: 2rem;
        height: 12rem;
    }
    .reviews__title{
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 24px;
    }
    .pagination{
        margin-left: 0;
        width: 100%;
    }
    .reviews__inner {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .reviews-block{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .reviews-block__item{
        padding: 1.5rem;
    }
    .reviews-block__item-title{
        margin-bottom: 1rem;
        font-size: 18px;
    }
    .department__title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .department-block__content-title{
        margin-bottom: 1rem;
        font-size: 18px;
    }
    .departameny__inner{
        padding-bottom: 4rem;
    }
    .department-block{
        margin-bottom: 5rem;
    }
    .stock-block__item-img img{
        display: none;
    }
    .stock-block__item{
        gap: 0;
    }
    .stock__title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .stock-block__item{
        padding: 1.5rem;
    }
    .stock-block__content{
        padding: 0 0 1rem 0;
    }
    .stock-block__content-title{
        text-transform: none;
        padding-top: 0;
        margin-bottom: 1rem;
        font-size: 18px;
    }
    .stock-block__content-text{
        margin-bottom: 2rem;
    }
    .stock {
        padding-bottom: 5rem;
    }
    .stock-block__content-btn,
    .stock-block__content-button{
        width: 100%;
    }
    .production-block__content-title,
    .advantages__title{
        font-size: 24px;
        margin-bottom: 2rem;
        line-height: 27px;
    }
    .production-block__content-text{
        margin-bottom: 3px;
    }
    .production-block{
        margin-bottom: 3rem;
        gap: 2rem;
    }
    .advantages-block__img img{
        margin-bottom: 2rem;
    }
    .advantages-block__top-title{
        font-size: 18px;
    }
    .advantages-block__top-btn{
        width: 100%;
    }
    .advantages-block__top{
        margin-bottom: 1rem;
    }
    .certificates__title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .advantages{
        padding-bottom: 3rem;
    } 
    .certificates{
        padding-bottom: 0;
    }
    .order__title{
        font-size: 24px;
        margin-bottom: 2rem;
    }
    .order-block__item-img img{
        margin-bottom: 1rem;
        width: 50px;
        transform: translateY(0);
    }
    .order-block__item{
        padding: 1.5rem;
    }
    .order-block__item-title,
    .order-block__item-text{
        margin-bottom: 1.5rem;
        line-height: 22px;
    }
    .order-page,
    .delivery,
    .answer,
    .requisites{
        padding-bottom: 4rem;
    }
    .delivery__title,
    .answer__title,
    .requisites__title{
        margin-bottom: 2rem;
        font-size: 24px;
    }
    .delivery-block__left-text,
    .delivery-block__right-title{
        margin-bottom: 2rem;
    }
    .delivery-block{
        gap: 1rem;
    }
    .answer-block{
        flex-direction: column;
        gap: 0;
    }
    .answer-block__left,
    .answer-block__right{
        width: 100%;
    }
    .answer__wrapper{
        margin-bottom: 1rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .requisites-block__top{
        padding: 1.5rem;
    }
    .requisites-block__top-title{
        font-size: 18px;
    }
    .requisites-block__item{
        width: 100%;
        flex-direction: column;
        gap: 1rem;
    }
    .requisites-block__item-title{
        margin-right: 0;
        width: 100%;
    }
    .requisites-block__wrapper,
    .requisites-block__item-text{
        margin-left: 0;
        width: 100%;
    }
    .ready__cart .ready-block__item{
        width: 100%;
    }
    .ready-block__item{
        width: 100%;
    }
    .ready-block__item-img img{
        width: 100%;
    }
    .ready__title,
    .work-page__title,
    .price__title{
        margin-bottom: 2rem;
        font-size: 24px;
        line-height: 28px;
    }
    .work-page{
        padding-bottom: 3rem;
    }
    .work-one__box{
        gap: 1rem;
    }
    .work-one__left{
        width: 100%;
    }
    .work-one__left-title,
    .work-one__right{
        font-size: 14px;
    }
    .work-one__item-btn{
        padding: 0;
        text-align: center;
    }
    .work-one__item{
        gap: 1rem;
    }
    .work__ready{
        padding-bottom: 4rem;
    }
    .ready-block__item-img,
    .ready-block__item-img img{
        height: 100%;
    }
    .ready-block__item-title{
        font-size: 18px;
    }
    .price__ready{
        padding-bottom: 0;
    }
    .ready__item-btn{
        padding: .8rem;
    }
    .price-block__top-title,
    .price-block__item-title{
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        font-size: 14px;
        text-align: left;
    }
    .price{
        padding-bottom: 4rem;
    }
    .price-block{
        margin-bottom: 0;
    }
    .cart__map{
        height: 30rem;
    }
    .map {
        margin-bottom: 3rem;
    }
    .questions-accardion{
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        min-width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
        gap: 1rem;
    }
    .questions__wrapper{
        padding-top: 9rem;
        min-width: 270px;
    }
    .heading__title{
        font-size: 26px;
        line-height: 30px;
    }
    .heading{
        min-height: 27rem;
    }
    .questions-accardion__title{
        margin-bottom: 1rem;
        font-size: 16px;
    }
    .questions-accardion__bottom{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    .questions-home__title{
        margin-bottom: 2rem;
        font-size: 24px;
        text-transform: none;
    }
    .heading {
        margin-bottom: 3rem;
    }
    .questions-accardion__bottom-btn{
        height: 3rem;
        line-height: 3rem;
    }
    .questions-home__link{
        width: 100%;
    }
    .calculator__title{
        font-size: 24px;
        margin-bottom: 2rem;
        text-transform: none;
    }
    .questions-home{
        padding-bottom: 4rem;
    }
    .calculator-tabs__item-btn{
        padding: .8rem;
    }
    .calculator-content__price,
    .calculator-content__number{
        padding: 2rem;
    }
    .calculator-content__price-title::before{
        display: none;
    }
    .ready__link{
        width: 100%;
    }
    .ready-home .ready-block__item {
        min-width: 24rem;
    }
    .ready-home{
        padding-bottom: 4rem;
    }
    .reviews-home__item{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .reviews-block__item-text{
        font-size: 14px;
        line-height: 20px;
    }
    .reviews-home__box .reviews-block__item-text{
        margin-bottom: 0;
    }
    .reviews-home{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .reviews-home__box{
        margin-bottom: 3rem;
    }
    .reviews-home__link{
        width: 100%;
    }
   
    .price-block__item-title:first-child{
        padding-left: 2.5rem;
    }
    .corrugated-block{
        gap: 2rem;
    }
    .corrugated-block__item{
        width: 47%;
    }
    .product-page__title,
    .corrugated__title{
        margin-bottom: 2rem;
        font-size: 24px;
        line-height: 28px;
    }
    .product-page{
        padding-bottom: 0rem;
    }
    .corrugated-block__item-text{
        font-size: 16px;
    }
    .corrugated-block__item__img img{
        width: 40px;
    }
    .corrugated-block{
        gap: 1rem;
    }
    .product-one__info-text,
    .product-one__info-subtitle{
        margin-bottom: 2rem;
    }
    .tabs-color__item {
        width: calc(100% / 2 - 1rem);
    }
    .tabs-color__item-btn{
        height: 3.5rem;
        line-height: 3.5rem;
    }
    .color__title{
        margin-bottom: 2rem;
        font-size: 24px;
        text-transform: none;
    }
    .tabs-color__wrapper{
        gap: 2rem;
    }
    .tabs-color{
        overflow-x: hidden;
    }
    .tabs-color__item-img img{
        width: 70px;
    }
    .color {
        padding-bottom: 4rem;
    }
    .peculiarities-one__info-subtitle,
    .peculiarities-one__info-text{
        margin-bottom: 2rem;
    }
    .peculiarities-page {
        padding-bottom: 3rem;
    }
    .questions-home__title{
        line-height: 28px;
    }
}

