.product-page {
    padding-bottom: 18rem;
}
.product-page__title {
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-weight: 500;
}
.product-one {
    display: flex;
    justify-content: space-between;
}
.product-one__inner {
    width: 50%;
}
.product-slide {
    display: flex;
    flex-direction: column;
}
.product-slide__thumb__wraper{
    margin-right: .7rem;
    margin-left: .7rem;
    cursor: pointer;
}
.product-slide__big {
    margin-bottom: 2rem;
}
.product-slide__big-item img{
    width: 100%;
}
.product-one__info {
    width: 48%;
}
.product-one__right {
    width: 50%;
}
.product-one__info-text{
    margin-bottom: 3rem;
    line-height: 2.5rem;
}
.product-one__info-subtitle{
    margin-bottom: 3rem;
    font-weight: 600;
}
.questions-home__title{
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-weight: 500;
}



//corrugated
.corrugated {
    padding-bottom: 12rem;
}
.corrugated__title {
    margin-bottom: 8rem;
    font-size: 3.6rem;
    font-weight: 500;
}
.corrugated-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 5rem;
}
.corrugated-block__item {
    width: calc(100% / 3 - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.corrugated-block__item__img {
    margin-bottom: 1.5rem;
}
.corrugated-block__item-text {
    font-size: 2rem;
    font-weight: 500;
    color: #32B4D9;
}


//price
.price {
    padding-bottom: 12rem;
}
.price__title {
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-weight: 500;
}
.price-block {
    max-width: 90rem;
    margin: 0 auto 4rem auto;
}
.price-block__subtitle {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-weight: 500;
    color: #32B4D9;
    border-bottom: 1px solid #DCDCDC;;
}
.price-block__top,
.price-block__item {
    display: flex;
    justify-content: space-between;
}
.price-block__top-title,
.price-block__item-title {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    width: calc(100% / 3 );
    border-bottom: 1px solid #DCDCDC;;
    text-align: center;
}
.price-block__top-title{
    color: #B3B3B3;
}



//color
.color__title{
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-weight: 500;
}
.color{
    padding-bottom: 15rem;
}
.tabs-color__item-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.tabs-color__item-btn {
    width: 50%;
    height: 4rem;
    line-height: 4rem;
    padding: 0;
    background-color:  rgba(220,220,220,0.3);
    border: none;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 20px;
    color: #B3B3B3;
}
.tabs-color__item-btn--active {
    background: #32B4D9;
    color: #fff;
}
.tabs-color__wrapper{
    display: flex;
    gap: 7rem;
    flex-wrap: wrap;
}
.tabs-color__item{
    width: calc(100% / 6 - 7rem);
}
.tabs-color__item-img {
    margin-bottom: 1.5rem;
}
.tabs-color__item-img img{
    margin-left: auto;
    margin-right: auto;
}
.tabs-color__item-title,
.tabs-color__item-text {
    text-align: center;
}






//peculiarities
.peculiarities-page{
    padding-bottom: 12rem;
}
.peculiarities-one {
    display: flex;
    justify-content: space-between;
}
.peculiarities-one__inner {
    width: 50%;
}
.peculiarities-slide {
    display: flex;
    flex-direction: column;
}
.peculiarities-slide__thumb__wraper{
    margin-right: .7rem;
    margin-left: .7rem;
    cursor: pointer;
}
.peculiarities-slide__big {
    margin-bottom: 2rem;
}
.peculiarities-slide__big-item img{
    width: 100%;
}
.peculiarities-one__info {
    width: 48%;
}
.peculiarities-one__right {
    width: 50%;
}
.peculiarities-one__info-subtitle {
    margin-bottom: 3rem;
    font-weight: 600;
}
.peculiarities-one__info-text {
    margin-bottom: 3rem;
    line-height: 2.4rem;
}
.peculiarities-one__list {
    margin-bottom: 2rem;
}
.peculiarities-one__list-item {
    margin-left: 2rem;
    margin-bottom: 1.5rem;
}
