.product-page {
    padding-bottom: 18rem;
}
.product-page__title {
    margin-bottom: 4rem;
    font-size: 3.6rem;
    font-weight: 500;
}
.product-one {
    display: flex;
    justify-content: space-between;
}
.product-one__inner {
    width: 50%;
}
.product-slide {
    display: flex;
    flex-direction: column;
}
.product-slide__thumb__wraper{
    margin-right: .7rem;
    margin-left: .7rem;
    cursor: pointer;
}
.product-slide__big {
    margin-bottom: 2rem;
}
.product-slide__big-item img{
    width: 100%;
}
.product-one__info {
    width: 48%;
}
.product-one__tabs {
    border-bottom: 1px solid #DCDCDC;
}
.product-one__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #DCDCDC;
}
.product-one__item-btn {
    padding-bottom: 2rem;
    display: block;
    border: none;
    background-color: transparent;
    font-weight: 500;
    color: #DCDCDC;
    text-align: center;
}
.product-one__item-btn--active {
    padding-bottom: 2rem;
    color: #32B4D9;
    border-bottom: 1px solid #32B4D9;
}
.product-one__box {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    margin-bottom: 2rem;
}
.product-one__left {
    margin-left: 7rem;
    width: 50%;
    display: flex;
    align-items: center;
}
.product-one__left-title {
    margin-left: 1rem;
    font-weight: 600;
}
.product-one__right {
    width: 50%;
}
.product-one__content-text {
    padding-bottom: 15rem;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.product-one__bottom {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.product-one__bottom-btn {
    width: 24rem;
}
.product-one__bottom-btn:hover{
    background-color: #046884;
}

.product-one__info-text {
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.4rem;
}
.product-one__info-text span{
    font-weight: 600;
}
.calculator-tabs__item-btn--activee{
    width: 20rem;
    border-radius: 20px;
    background: #32B4D9;
    color: #FFF;
}
.ready-block--product{
    padding-top: 2rem;
}